# Created by .ignore support plugin (hsz.mobi)
### Gradle template
.gradle
build/

# User-specific stuff:
.idea/**/workspace.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries


## File-based project format:
*.iws


# IntelliJ
/out/
**/build-idea/
*.iml

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

\.idea/modules\.xml
#Built files
**/build/*

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle/wrapper/gradle-wrapper.jar